<html>

<head>
	<title>{{title}}</title>

	<link rel="stylesheet" href="css/test.css" />

</head>

<body>
	{{{content}}}

	<script type="text/javascript" src="js/client-router.js"></script>
</body>
</html>