<html>

<head>
	<title>{{title}} (client only)</title>

	<link rel="stylesheet" href="css/test.css" />

	<!--<script src="https://fb.me/react-0.14.0.js"></script>-->
	<!--<script src="https://fb.me/react-dom-0.14.0.js"></script>-->

</head>

<body>
	<div id="react-app"></div>
	<script async type="text/javascript" src="js/clientRouter.js"></script>
</body>

</html>