<html>

<head>
	<title>{{title}}</title>

	<link rel="stylesheet" href="css/test.css" />

	<!--<script src="https://fb.me/react-0.14.0.js"></script>-->
	<!--<script src="https://fb.me/react-dom-0.14.0.js"></script>-->

</head>

<body>
	{{{content}}}
	<script type="text/javascript" src="js/client-router.js"></script>
</body>

</html>