<html>

<head>
	<title>{{title}}</title>

	<link rel="stylesheet" href="css/test.css" />
	<script type="text/javascript" src="js/client-router.js"></script>
</head>

<body>
	index?!?<hr/>
	{{{content}}}<br/>
	this is another test....
</body>
</html>